testmarker
========================================

Marker library for unittest.


run tests with marker
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

Running tests like a `python -m unittest discover`.

.. code-block:: shell

  {{"make -C examples run3"|read_from_command|indent(width=2)}}

marker setting
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

examples/foo/foo/tests/test_it.py

.. code-block:: python

  {{"examples/foo/foo/tests/test_it.py"|read_from_file|indent(width=2)}}
